body {
    background-color: rgb(0, 0, 0);
    color: white;

}
#shitPilot {
    font-size: 34px;
    
}
.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #000000;

    
}
#NopeVidHolder {
  width: 75%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50% ;
  transform: translate(-50%,-50%);
  display: none;


}
#TryAgain {
  position: absolute;
  left: 50%;
  top: 20% ;
  transform: translate(-50%,-50%);
  display: none;
}

#imageHolder {
  width: 75%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50% ;
  transform: translate(-50%,-50%);
  display: none;
}

.btn-xl {
    
    font-size: 30px;
    border-radius: 10px;
    float: right; 
    margin-top: 20px; 
}


.form-check-input {
    background-color: #ffffff !important ;
    border-color: #000000;
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e7e7e7;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffc605;
  }
  
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  table {
    font-family: arial, sans-serif;
    table-layout: fixed;
    
    
    
  }
  
    th {
    border: 1px solid #000000;
    text-align: right;
    padding: 10px;
    white-space: nowrap;
    
  }